@page "/createrentalpage"
@using CPSY200FinalRentalProject.Data
@inject NavigationManager navManager

<h3 class="heading">New Rental</h3>
<section>
    <div class="box">
        <h3>Search Customer</h3>
        <p>Search by:</p>

        <input type="checkbox" placeholder="">
        <label for="ID">ID</label> 
        <input type="checkbox" placeholder="">
        <label for="phone">Phone</label><br />

        <input type="checkbox" placeholder="">
        <label for="name">Last Name</label>

        <input type="checkbox" placeholder="">
        <label for="Email">Email</label>
        <br /><br />

        <input type="text" placeholder="Search by name, ID, phone, email">
        <button>Search</button>
        <select>
            <option>Select Customer</option>
        </select>
        <button>Select</button>
    </div>
    <div class="box">
        <h3>Search Equipment</h3>
        <p>Search by:</p>

        <input type="checkbox" placeholder="">
        <label for="ID">ID</label> <br />

        <input type="checkbox" placeholder="">
        <label for="Brand">Brand</label>
        <select>
            <option>Burton</option>
        </select><br />

        <input type="checkbox" placeholder="">
        <label for="category">Category</label>
        <select><option>Snowboard</option></select><br />

        <input type="checkbox" placeholder="">
        <label for="phone">Customer Phone</label>
        <br /><br />

        <input type="text" placeholder="Search by name, ID, phone, email">
        <button>Select</button>
        <select>
            <option>Select Equipment</option>
        </select>
        <button>Select</button>
    </div>
</section>


@code {

}
