@page "/"
<div class="home">
    <h1>Village Rental Management Software!</h1>
    <section class="grid">
        <div class="Management">
            <h3>Customer Management</h3>
            <p>Search Customer</p>
            <p>Add New Customer</p>
            <p>Edit Customer</p>
            <p>Remove Customer</p>
            <p>View Customer Orders</p>
            <button class="customer">Customer Manager</button>
        </div>
        <div class="Management">
            <h3>Equipment Management</h3>
            <p>Search Equipment</p>
            <p>Add New Equipment</p>
            <p>Edit Equipment</p>
            <p>Remove Equipment</p>
            <p>View Orders with Equipment</p>
            <h3>Customer Management</h3>
            <p>Add New Customer</p>
            <p>Edit Customer</p>
            <p>View Customer Orders</p>
            <button class="equipment">Equipment Manager</button>
        </div>
        <div class="Management">
            <h3>Rental Management</h3>
            <p>Search Rental</p>
            <p>Add New Rental</p>
            <p>Genetrate Report</p>
            <button class="rental_button">Rental Manager</button>
        </div>
        <div id="rental">
            <div><button class="new_rental">Create New Rental</button></div>
        </div>
    </section>
</div>
<style>
    .home{
        background-color: #D8F8FF;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    .Management {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .Management h3 {
        font-size: 18px;
        color: #3b5998;
        margin-bottom: 10px;
    }
    .Management p {
        margin: 10px 0;
        font-size: 14px;
    }
    .Management button {
        background-color: #F1F1F1;
        color: black;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .Management button:hover {
        background-color: #4c669f;
    }
</style>